body {
    background-image: url(image/back3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#navbar {
    background-color: white;
}
.full-card{
    padding-right: 20px;
    padding-top: 20px;
}
.cards{
    padding-top: 20px;
    padding-bottom: 20px;
    opacity: 0.8;
}
/* #myimage{----------------no need
  
    max-width: 100%;
    height: auto;
    
} */
.card-text{
    margin: 0px;
}
h6{
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight:600;
}
strong{
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: bolder;
}