body {
    background-image: url(image/back3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#navbar {
    background-color: white;
}

.heading-text {
    text-align: center;
    color: black;
    background-color:#2dd156;
     margin-left: 400px;
    margin-right: 400px


}


.home {
    padding-bottom: 30px;
    margin-bottom: 10px;
}

.heading-area {
    opacity: 0.8;
    padding-top: 60px;
}

#card {
    max-width: 990px;
    max-height: 900px;
}

.full-card {
    padding-top: 50px;
    padding-left: 250px;
    opacity: 0.9;
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.card-title,
.card-text {
    text-align: center;
}

.card-title {
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 30px;
}

.card-text {
    font-size: 20px;
}